@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Inter', sans-serif !important;
  font-family: 'Poppins', sans-serif !important;
}

.flex {
  display: flex !important;
}

body {
  background-color: #DCDCDC;
  padding: 0rem 5rem 0rem 5rem;
}

header {
  width: 100%;
  justify-content: space-around;
  flex-direction: row;
  padding: 2rem 0rem 2rem 0rem;
  align-items: center;
  font-weight: 600;
  font-size: 0.8rem;
  border-bottom: rgb(0, 0, 0, 0.1) solid 2px;
}

#menu-button {
  flex-direction: row;
  align-items: center;
}

#menu-button:hover {
  cursor: pointer;
}

#menu-button>img {
  height: 1.5rem;
  margin-right: 5px;
}

#search-tab {
  border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -webkit-border-radius: 1.5rem;
  background: url('./images/lupa.png'), rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 2% 50%;
  min-width: 16rem;
  padding: 0.5rem 0.5rem 0.5rem 2rem;
  -moz-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.1);
}

.circle {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-style: solid;
  border-color: black;
  border-width: 12px;
}

#search-tab::placeholder {
  color: #dcdcdc;
}

#climate>img {
  height: 2rem;
  margin-right: 0.5rem;
}

#climate {
  font-size: 0.7rem;
}

#min-temp {
  color: #4169E1;
  padding: 0.4rem 0.4rem 0.4rem 0rem;
}

#max-temp {
  color: #CF0E0E;
  padding: 0.4rem 0rem 0.4rem 0.4rem;
}

#notfication>img {
  height: 1.5rem;
}

#my-profile {
  flex-direction: row;
}

#my-profile>img {
  height: 1rem;
  align-self: center;
  padding: 0.5rem;
}

#my-profile>img:hover {
  cursor: pointer;
}

#my-photo {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: bisque;
  height: 2rem;
  width: 2rem;
}

nav>ul {
  justify-content: space-between;
  flex-direction: row;
  font-weight: 600;
  font-size: 0.8rem;
  color: #696969;
  padding: 1rem 1rem 6rem 1rem;
  border-bottom: rgb(0, 0, 0, 0.1) solid 2px;
}

#section1 {
  border-bottom: rgb(0, 0, 0, 0.1) solid 2px;
  flex-direction: column;
  padding-bottom: 1rem;
}

#title1 {
  color: #CF0E0E;
  font-weight: 600;
  margin-top: -5%;
}

#section1>div {
  flex-direction: row;
  justify-content: space-between;
}

.card:first-of-type {
  color: #fff;
  width: 30vw;
  margin-right: 20vw;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 1%;
}

.card:first-of-type>.desc {
  background-color: #CF0E0E;
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
  padding: 2rem;
  margin-left: 75%;
  width: 70%;
  height: 65%;
  margin-top: 6.5%;
}

.card {
  margin-top: 5%;
  width: 15vw;
}

.card>img {
  width: 15vw;
}

.rounded {
  border-radius: 1rem;
  -moz-border-radius: 1rem;
  -webkit-border-radius: 1rem;
}

.classification {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0.7rem 0rem 0.7rem 0rem;
}

.economia {
  color: #90EE90;
}

.esporte {
  color: #FFA500;
}

.entretenimento {
  color: #9400D3;
}

.desc {
  font-size: 0.9rem;
  font-weight: 500;
}

#section2 {
  flex-direction: row;
  padding: 1rem 0rem 1rem 0rem;
}

#section2>div {
  width: 50%;
  justify-content: center;
  justify-content: space-between;
  flex-direction: column;
}

#section2-column-left {
  border-radius: 1rem;
  background-color: #fff;

}

#section2-column-left>div {
  display: flex;
  flex-direction: row;
}

#section2-column-left>div>img {
  width: 25%;
  margin: 1rem;
}

#section2-column-left>div>div>.classification {
  padding: 0.5rem;
}

#section2-column-left>div>div>.desc {
  padding: 0.5rem;
}

#section2-panel-left {
  margin-top: 1rem;
}

#section2-panel-left>div {
  color: white;
  background-color: #4169E1;
  margin-top: 50%;
  padding: 1.5rem;
  border-radius: 0rem 0rem 1rem 1rem;
}

#section2-panel-left>div>div:first-child {
  margin-bottom: 1rem;
}

.card-footer {
  font-size: 0.8rem;
  padding: 0.5rem;
  color: #A9A9A9;
}

#section2-column-right {
  flex-direction: column;
}

#section2-column-right>div {
  flex-direction: row;
  height: 15rem;
}

#section2-column-right>div>div {
  color: white;
  flex-direction: column-reverse;
  margin: 0rem 0rem 1rem 1rem;
}

#section2-column-right>div>div>div {
  margin: 1rem 0rem 1rem 1rem;
}

#section2-column-right-list>div {
  display: flex !important;
  flex-direction: row !important;
  border-radius: 1rem;
  background-color: #fff;
  padding: 0.5rem;
}

#section2-column-right-list>div>div>.desc {
  color: #000 !important;
  font-size: 0.8rem;
}

#section2-column-right-list>div>img {
  width: 25%;
}

#section3 {
  padding: 1rem 0rem 1rem 0rem;
  flex-direction: column;
}

#separator {
  flex-direction: row;
}

#separator>div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  width: 190%;
  border-style: solid 3px #000;
}

#section3>div {
  width: 100%;
}

#video-row {
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0rem 1rem 0rem;
}

#video-row>div {
  width: 22%;
  background-color: #fff;
}

#video-row>div>.video-thumb {
  max-width: 100%;
  border-radius: 1rem 1rem 0rem 0rem;
  height: 10rem;
}

#video-row>div>div>.classification {
  margin-top: 2rem;
}

#video-row>div>div>.classification,
#video-row>div>div>.desc {
  padding: 0.5rem !important;
  font-size: 0.8rem !important;

}

.background-esporte {
  background-color: #FFA500;
  ;
}

.background-entretenimento {
  background-color: #9400D3;
}

.video-duration {
  border-radius: 1rem;
  position: relative;
  width: 25%;
  padding: 0.2rem;
  top: 1rem;
  right: -60%;
  display: flex;
  justify-content: center;
}

.video-play {
  border-radius: 50%;
  padding: 1rem;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  top: 69%;
  left: 1rem;

}

.video-play>img {
  width: 1.5rem;
  height: 1.5rem;
}

#section3-row2-panel {
  color: white;
  flex-direction: column-reverse;
  width: 50%;
}

#section3-row2>div:nth-child(1)>div {
  background-color: #4169E1;
  border-radius: 0rem 0rem 1rem 1rem;
  padding: 1rem;
}

#section3-row2>div:nth-child(2) {
  width: 50%;
  padding-left: 1rem;
  flex-direction: column;
}

#section3-row2-horoscope {
  background-color: #fff;
  padding: 1rem;
  justify-items: center;
}

#section3-row2-horoscope>center>h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#section3-row2-horoscope>center>img {
  width: 20%;
}

#sign-title {
  color: #4169E1;
  padding: 0.5rem;
}

#sign-desc {
  color: #A9A9A9;
  padding: 0.5rem;
  font-size: 0.8rem;
}

#dollar-and-mega-row {
  flex-direction: row !important;
  margin-top: 1rem;
  font-weight: 500;
}

#dollar-and-mega-row>div {
  background-color: #fff;
  border-radius: 1rem;
  padding: 1rem;
  width: 100% !important;
  justify-content: center;
  font-size: 0.8rem;
}

#dollar-and-mega-row>div>center>h2 {
  font-weight: 600;
  margin-bottom: 1rem;
}

#dollar-and-mega-row>div:nth-child(1) {
  margin-right: 0.5rem;
  flex-direction: column;
  justify-content: space-evenly;
}

#bolsa-values {
  flex-direction: row !important;
}

#bolsa-values>div:nth-child(1) {
  flex-direction: column;
}

#bolsa-values>div:nth-child(1)>div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 0.5rem;
}

.positive {
  color: #4169E1;
}

.negative {
  color: #CF0E0E;
}

#mega-sena {
  flex-direction: column;
  align-items: center;
}

#mega-sena>div>center>img {
  margin: 0.5rem;
  width: 20%;
}

#mega-sena-numbers {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#mega-sena-numbers>div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#mega-sena-numbers>div>div:nth-child(1) {
  margin-bottom: 1rem;
}

#mega-sena-numbers>div>div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 1.2rem;
  padding: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: solid 5px #90EE90;
  color: #90EE90;
}

#card-title-sec3 {
  margin-bottom: 1rem;
}

#section4 {
  flex-direction: row;
}

#section4>div>div>div {
  margin: 0rem 0rem 0.5rem 0.5rem;
}

#section4>div:nth-child(1) {
  margin: 0rem 0rem 0.5rem 0rem;
}

footer {
  background-color: #696969;
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  color: white;
  flex-direction: row;
  font-size: 0.8rem;
  margin-top: 5rem;
}

#footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5rem 0rem 5rem 0rem;
  width: 100%;
  justify-content: space-around;
  font-size: 0.6rem;
}

#footer-container>div>.circle {
  border-color: #fff !important;
}

#footer-container>div>a {
  margin: 1rem;
  color: white;
}